.app {
 display: flex;
 
}
.Input-container-main{
  background-color: rgb(189, 215, 238);
  display:flex ;
  margin-top: 10px;
  margin-left: 100px;
  width:1300px;
  height:700px;
  gap: 0px;
  
}
.Input-container-login{
  background-color:white;
  z-index: 100;
  margin-top: 100px;
  margin-left: 150px;
  width:500px;
  height:530px;
  padding-top: 60px;

  border-radius: 25px;}
.Input-container-register{
  background-color:white;
  z-index: 100;
  margin-top: 100px;
  margin-left: 150px;
  width:500px;
  height:550px;
  padding-top: 60px;
  border-radius: 25px;

}

.Input-container-image
{
  background-color: white;
  margin-top: 100px;
  width:500px;
  height:530px;
  border-radius: 25px;

}

.image{
  height:590px;
  border-radius: 25px;
  width: 500px;

}
