.app {
 display: flex;
 
}
.Input-container-main{
  
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  width:1300px;
  height:700px;
  gap: 50px;
  
}
.Input-container-login{
  background-color: red;
  z-index: 100;
  margin-top: 100px;
  margin-left: 100px;
  width:500px;
  height:500px;
  padding-top: 70px;
  
}
.Input-container-image
{
  margin-top: 100px;
  margin-left: 100px;
}
